@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th class="about">
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td class="about">
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<hr />
<h3>
    For comments or questions contact:
</h3>
<p>
    Rachel Barnes
<br />
    bar13059@byui.edu
</p>