@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Beautiful Campus</h2>
        <img src="~/images/architecture-berlin-building-586570.jpg" alt="building" height="200">
            
    </div>
    <div class="col-md-4">
        <h2>Renowned Library</h2>
        <img src="~/images/book-book-stack-bookcase-185764.jpg" alt="building" height="200">
    </div>
    <div class="col-md-4">
        <h2>Start today</h2>
        <img src="~/images/accomplishment-ceremony-college-267885.jpg" alt="building" height="200">
    </div>
</div>